quiz.content {
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
}

quiz .question-container,
quiz .choice-container {
  align-items: center;
  border-radius: 0.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vh 2vh;
}

quiz .choice-container {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  flex-grow: 1;
  text-transform: lowercase;
}

quiz .choice-container:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.1s ease-in background-color;
}

quiz .choice-container:active {
  background-color: rgba(255, 255, 255, 0.9);
  transition-duration: 0s;
}

quiz .choice-container:last-child {
  margin-bottom: 2vh;
}

quiz .question-container {
  flex-grow: 3;
}

quiz .text {
  font-size: 2vh;
  padding: 2vh 5vh;
  text-align: center;
}

quiz .question-container .text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 3vh;
}
