login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    width: 100%;
    padding: 18%;
}

login .title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.9);
    font-size: 10vh;
    line-height: 9vh;
    margin-bottom: 18vh;
    text-align: center;
}

login label, login button {
    display: flex;
    height: 8%;
    margin-bottom: 2vh;
    overflow: hidden;
    width: 100%;
}

login label > i {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 4vh;
    padding: 0 1vh;
    line-height: 6vh;
    
}

login input, login .selected-robot {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 2.4vh;
    outline: none;
    padding: 0 2vh;
    width: 100%;
}

login .robot, login .selected-robot {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

login .selected-robot {
    line-height: 6.5vh;
    padding: 0 1.5vh;
}

login .robots {
    background-color: #e9f7f0;
    border-radius: 1vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    width: calc((9/16) * (64vh));
    max-width: 628px;
}

login .robot {
    font-size: 2vh;
    height: 5vh;
    line-height: 5vh;
    padding: 0 2vh;
}

login .team-color {
    display: inline-block;
    width: 2vh;
    height: 2.5vh;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.36);
}

.team-color + .team-color {
    margin-right: 1vh;
}

login input[disabled]  {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.5);
}

login button {
    display: block;
    cursor: pointer;
    background-color: rgba(41, 128, 185, 0.9);
    border-radius: 0.5vh;
    border: none;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 3px;
    font-size: 3vh;
    font-weight: 700;
    outline: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

login button:disabled {
    background-color: rgba(88, 117, 136, 0.9);
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

login button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.2s ease-in-out;
}

login button:active {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 12px 13px rgba(0,0,0,0.22);
    background-color: rgba(27, 92, 136, 0.9);
}
