menu {
    display: flex;
    flex-direction: row;
    height: 9.5vh;
    background-color: rgb(215, 236, 219);
}

menu-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgb(215, 236, 219);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    color: rgba(42, 102, 39, 0.8);
}

menu-item:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

menu-item.selected {
    color: rgba(255, 255, 255, 0.9);
    /* background-color: rgba(42, 102, 39, 0.4); */
    background-color: rgb(55, 136, 52);
}

menu-item i {
    font-size: 4vh;
    margin-top: -0.8vh;
}

menu-item span {
    font-weight: 500;
    margin-top: -0.6vh;
}

/* Ad-hoc icon adjustments */
.typcn-power {
    font-size: 4.7vh;
    margin-top: -1.1vh;
    margin-bottom: -0.6vh;
}
