@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
body {
  background-color: rgb(26, 26, 26);
  width: 100vw;
  height: 100vh;
}
main {
  background-color: #40a03d; /*rgb(39, 174, 96); */
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc((412 / 662) * (100vh));
  /* max-width: calc((9/16) * (100vh)); */
}

.hidden {
  display: none;
}
.grow {
  flex-grow: 1;
}
.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.shadow-large {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.25), 0 10px 12px rgba(0, 0, 0, 0.2);
}
.rounded {
  border-radius: 1vh;
}
