@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
body {
    background-color: rgb(26, 26, 26);
    width: 100vw;
    height: 100vh;
}
main {
    background-color:  #40a03d; /*rgb(39, 174, 96); */
    height: 100vh;
    /* max-width: calc((9/16) * (100vh)); */
    max-width: calc((412/662) * (100vh));
    margin: 0 auto;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.content {
    display: flex;
    flex-grow: 1;
}
.hidden {
    display: none;
}
.grow {
    flex-grow: 1;
}
.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.rounded {
    border-radius: 1vh;
}
